body{
  margin:0;
  padding:0;
}
/* .container{
  width:90%
  margin:10px auto;
} */
.portfolio-menu{
  text-align:center;
}
.portfolio-menu ul li{
  display:inline-block;
  margin:0;
  list-style:none;
  padding:10px 15px;
  cursor:pointer;
  -webkit-transition:all 05s ease;
  -moz-transition:all 05s ease;
  -ms-transition:all 05s ease;
  -o-transition:all 05s ease;
  transition:all .5s ease;
}

.portfolio-item{
  /*width:100%;*/
}
.portfolio-item .item{
  /*width:303px;*/
  float:left;
  margin-bottom:10px;
}

             /* BOTON SUBIR -------------- */
       #btn-container {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 999;
}

#btn-up {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 50px;
  background-color: #f7f7f7;
  border-radius: 25px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
  text-decoration: none;
  color: #000;
}

#btn-up:hover {
  background-color: #555;
  color: #fff;
}

#btn-up i {
  font-size: 24px;
  margin-right: 5px;
}

.btn-text {
  font-size: 14px;
  margin-left: 5px;
}
html {
  scroll-behavior: smooth;
}
.subtitle {
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: #555;
  margin-top: 3rem;
}
/* BOTON VOLVER --- */
.volver {
  position: fixed;
  top: 0;
  left: 0;
  margin: 1rem;
  padding: 0.5rem;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer; /* Agregar esta propiedad */
  text-decoration: none;
}

/* BOTON WHATSAPP */

.boton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
}

.boton img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease-in-out;
}

.boton:hover img {
  transform: scale(1.1);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
}



.whatsapp-logo {
    display: inline-block;
    position: fixed;
    right: -100px;
    bottom: 10px;
    width: 80px;
    height: 80px;
    background-image: url("WHATSAPP.png");
    background-size: cover;
    transition: transform 0.5s;
}
.whatsapp-logo:hover {
    transform: scale(1.1);
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


