@media (){}
 
*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --main-white: #F8F9FA;
  --main-pink: #ff0060;
  --main-gray: #151618;
}

/* NAV BAR */

#navbar {display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 10px 0px 10px black;
  z-index: 10;
  font-size: 30px;
  font-family: quicksand;
 }

a:hover {
  color: #ff0060;
  transition: color 0.3s ease-out;}

a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
}

.nav a {
  display: flex;
  padding: 10px;
}

@media (max-width: 480px) {
  #navbar {
    width: 100%;
    font-size: 1em;
  }
  
  a {
    margin-right: 0.3em;
  }
}

/* BUTTON */

button {
  display: flex;
  position: fixed;
  top: 70px;
  right: 20px;
  padding: 0.8rem 1rem;
  font-family: 'Raleway' 100;
  font-size: 1em;
  background-color: rgba(0, 0, 0, 0);
  color: var(--main-pink);
  border-style: solid;
  border-radius: 5px;
  border-color: var(--main-pink);
}

button:hover {

  box-shadow: 0 0px 10px var(--main-pink);
}

/* WELCOME SECTION */

.name {
  position: absolute;
  left: 53%;
  top: 30%;
}

.info {
  position: absolute;
  top: 30%;
  right: 53%;
}

.info {
  position: absolute;
  top: 30%;
  right: 53%;
  font-family: 'Raleway';
  color: white;
  text-align: right;
  font-size: 4vw;
  font-weight: 100;
  justify-content: end;
}


h1 {
  color: white;
  font-family: 'Raleway';
  font-size: 5.4vw;
  font-weight: 800;
  justify-content: start;
}

h1 .h1color {
  color: orange;
  font-family: 'Stencil';
}

.vertical-line {
  position: absolute;
  background-color: orange;
  width: 2px;
  left: 50%;
  height: 60%;
  top: 20%;
}

.info .h2color {
  color: var(--main-pink);
}

#welcome-section { 
  display: grid;
  grid-template-columns: 50fr 50fr; 
  max-width: 100%;
  height: 100vh;
  background-size: cover;
  background-color: #151618 ; 
  background-image: url("https://drive.google.com/uc?id=1Fl6kT09l73zeoy4ql7kMRqp44SAscrAo");
}

@media (max-width: 320px) {
  
}

@media (max-width: 481px) {

  .info {
    font-size: 1.4vw;
  }
  
  h1 {
    font-size: 1.8vw;
  }
}

@media screen and (max-width: 769px) {
  #welcome-section {
    max-width: 100%;
    max-height: 100%;
  }
  button {
    font-size: 1em;
  }
  
  .info {
    font-size: 8vw;
    max-height: 80%; 
  }
  
  h1 {
    font-size: 11vw;
    max-height: 80%;
  }
  
  button {
    padding: 0.3rem 0.6rem;
    font-size: 0.7em;
  }
}

/* ABOUT SECTION */

.services-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-size: cover;
}

.presentation {
  color: black;
  font-size: 30px;
  font-weight: 800;
  margin: auto;
  margin-bottom: 5px;
  margin-top: 80px;
  font-family: 'Raleway';
}

.services-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-top: 40px;
}

.service {
  width: 30%;
}

.service h3 {
  color: black;
  font-family: 'Raleway';
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 10px;
}

.service p {
  color: black;
  font-family: 'Raleway';
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  text-align: justify;
}

#underline {
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--main-pink);
  border-style: none;
  padding: 1px;
  margin-top: 5px;
}

@media (max-width: 768px) {
  .services-container {
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin-top: 20px;
  }

  .service {
    width: 80%;
    margin-bottom: 20px;
  }

  .service h3 {
    font-size: 18px;
  }

  .service p {
    font-size: 14px;
  }
}


/* Projects section */

.projects-section {
  text-align: center;
  padding: 3rem 2rem;
      background-size: 2000px 5000px;
  background-position: 00px -000px;
  background-repeat: no-repeat;
}

.projects-section-header {
  display: grid;
  justify-content: center;
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 30px;
  margin-left: auto;
  margin-right: auto;
  color: black;
  font-size: 30px;
  font-weight: 800;
  margin: auto;
  margin-bottom: 5px;
  margin-top: 40px;
}

#line {
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--main-pink);
  border-style: none;
  padding: 0.9px;
  margin-bottom: 2rem;
}


@media (max-width: 678px) {
  .projects-section-header {
    width: 100%;
    height: 100%;
    margin-top: 5px;
  }
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1rem;
  max-width: 100%;
  margin: 0 auto;
  margin-bottom: 6rem;
  padding: 20px;
  border-radius: 20px; 
}

@media (max-width: 30.625em) {
  .projects-section {
    padding: 6rem 1rem;
  }

  .projects-grid {
    grid-template-columns: 1fr; 
  }
}

.project {
  background: none;
  border-radius: 10px;
  position: flex;
  color: black;
}

.project-title {
  font-size: 1.5rem;
  padding: 1rem 0.5rem;
  font-family: quicksand;
  display: flex;
  justify-content: center;
  align-items: center;
}


.project:hover {
  color: var(--main-pink);
  transform: scale(1.2);
}


.project-image {
  width: 100%;
  object-fit: cover;
  border-radius: 100%;
  display: flex;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.4);
  filter: saturate(0);
}

.project-image:hover {
  transform: scale(1.2);
  filter: saturate();
  transition: all 300ms;
}

/* CONTACT ME SECTION */

#contact {
 display: flex;
 flex-direction: column;
 max-width: 100%;
 height: 100vh; 
 background-size: cover;
 background-color: #151618; 
 background-image: url("https://drive.google.com/uc?id=1Fl6kT09l73zeoy4ql7kMRqp44SAscrAo");
}

.contact-me {
  margin-top: 80px;
  margin-left: 50px;
}


.explanation {
  display: flex; 
  margin-top: 10px;
  font-size: 35px;
  margin-left: 50px;
  color: white;
  font-family: 'Raleway';
  font-weight: 100;
}
 
.information {
  display: grid;
  flex-direction: column;
  width: 100%;
  align-self: center;  
}

#linkedin {
  margin-left: 290px;
  color: white;
  font-size: 40px;
  margin-top: 80px;
  margin-right: 30px;
}


#mail {
  margin-left: 290px;
  color: white;
  font-size: 40px;
  margin-top: 40px;
  margin-right: 30px;
}

#cv, #cv1 {
  margin-left: 300px;
  color: white;
  font-size: 40px;
  margin-top: 40px;
  margin-right: 30px;
}

#firstline, #secondline, #thirdline, #fourthline {
  margin-left: auto;
  margin-right: auto;
  width: 53%;
  background-color: var(--main-pink);
  border-color: var(--main-pink);
}

.links {
  font-family: 'Quicksand';
  font-size: 3.3vw; 
  color: white; 
}


@media (max-width: 960px) {

  .contact-me {
    font-size: 7vw;
    margin-left: 1%;
    margin-top: 10vw;
  }
   
  .explanation {
    text-align: left; 
    font-size: 4vw !important;
    margin-left: 1%;
  }
  
  .links {
    margin-left: 0px;
    font-size: 5vw !important;
  }
 

  
  #firstline, #secondline, #thirdline, #fourthline {
    width: 80%;
  }
}



:lang(en) [data-en] { display: block; } 
:lang(en) [data-es] { display: none; }

:lang(es) [data-es] { display: block; }
:lang(es) [data-en] { display: none; }


/* BOTON WHATSAPP */

.whatsapp-logo {
    display: inline-block;
    position: fixed;
    right: -100px;
    bottom: 10px;
    width: 80px;
    height: 80px;
    background-image: url("WHATSAPP.png");
    background-size: cover;
    transition: transform 0.5s;
}
.whatsapp-logo:hover {
    transform: scale(1.1);
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* TEXTO JORGE ELECTRICIDAD */

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #000;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 20px;
  }
  
  .text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 36px;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px orange;
    animation: slide-in 0.5s forwards;
    animation-delay: 1s;
    margin-left: 30px;
    font-family: 'Helvetica', sans-serif;
    position: absolute;
    top: 30px;
    left: 20px;
  }
  
  .text span:first-of-type {
    color: orange;
    margin-right: 10px;
  }
  
  .text span:last-of-type {
    color: white;
  }
  
  @keyframes slide-in {
    100% {
      transform: translateX(0);
    }
  }
  


  /* GALERIA------------------ */


  .galeria {
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Montserrat", sans-serif;
  }
  
  h2 {
    font-size: 2rem;
  }
 h2 {
    color: white;
    font-weight: 700;
    text-transform: uppercase;
  }
  
  h4 {
    color: white;
    text-transform: capitalize;
    font-size: 1.5rem;
    font-weight: 500;
  }
  @media (max-width: 575.98px) {
  
    h4 {
      font-size: 20px;
    }
    span,
    p,
    li,
    a {
      font-size: 14px;
    }
  }
  @media (min-width: 576px) and (max-width: 767.98px) {
    
    h4 {
      font-size: 20px;
    }
    span,
    p,
    li,
    a {
      font-size: 14px;
    }
  }
  .container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
  @media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
  }
  @media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
  }
  @media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
  }
  @media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
  }
  .template-btn {
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    padding: 12px 20px;
    display: inline-block;
    background: transparent;
    cursor: pointer;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
  }
  .template-btn:hover {
    color: white;
    background: #f28500;
  }
  .portfolio-section {
    padding-top: 30px;
    transition: 1.3s;
    box-sizing: border-box;
    height: auto;
  }
  
  .portfolio-tab ul {
    text-align: center;
    margin-top: 50px;
  }
  .portfolio-tab ul li {
    color: #000;
    background: transparent;
    display: inline;
    font-weight: 500;
    text-transform: uppercase;
    padding: 12px 16px;
    border: 2px solid #e30b5d;
    margin: 0 5px;
    cursor: pointer;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    -webkit-tap-highlight-color: transparent;
  }
  @media (max-width: 575.98px) {
    .portfolio-tab ul li {
      display: block;
      margin: 10px auto;
      max-width: 200px;
    }
  }
  .portfolio-tab ul li:hover {
    background: #e30b5d;
    color: #fff
  }
  .portfolio-tab ul .active {
    background: #e30b5d;
    color: #fff
  }
  .clearfix:after {
    display: table;
    content: " ";
    clear: both;
  }
  .portfolio-grid {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 300px;
  }
  @media (max-width: 768px) {
    .portfolio-grid {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  @media only screen and (min-width: 768.1px) and (max-width: 991px) {
    .portfolio-grid {
      grid-template-columns: repeat(2, 1fr);
    }   
    }
  .portfolio-grid .portfolio {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    display:none;
    overflow:hidden;
  }
  .portfolio-wrapper {
    overflow:hidden;
    position: relative !important;
    cursor:pointer;
  }
  .portfolio-bg {
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: 1s;
    transform: scale(1)
  }
  .portfolio:hover .portfolio-bg{
    transform: scale(1.2)
  }
  .first .portfolio-bg{
    background-image: url('https://images.pexels.com/photos/267350/pexels-photo-267350.jpeg?cs=srgb&dl=accounts-applications-apps-267350.jpg&fm=jpg');
    
  }
  .second .portfolio-bg{
    background-image: url('https://images.pexels.com/photos/1053687/pexels-photo-1053687.jpeg?cs=srgb&dl=art-art-materials-artwork-1053687.jpg&fm=jpg');
  }
  .third .portfolio-bg{
    background-image: url('https://images.pexels.com/photos/6224/hands-people-woman-working.jpg?cs=srgb&dl=brainstorming-campaign-collaborate-6224.jpg&fm=jpg');
    
  }
  .portfolio .label {
    position: absolute;
    width: 100%;
    height:100%;
    bottom: 0;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden
  }
  
  .portfolio .label-bg {
    background: #232323;
    opacity: 0.7;
    width: 100%;
    height:100%;
    position: absolute;
    top:0;
    left:0;
    transition: 1px;
  }
  .portfolio .label-text {
    color:#fff;
    position: relative;
    z-index:500;
    padding:50px 20px;
  }
  .portfolio:hover .label {
    opacity: 1;
    visibility: visible;
  }
  .portfolio .text-category {
    display:block;
  }
  .portfolio .template-btn {
    background: #e30b5d;
    border: 1px solid #e30b5d;
    text-decoration: none;
    margin-top: 20px;
    font-weight: 500
  }



  /* SOBRE MI--------------  */

  .about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-size: cover;
    padding-bottom: 100px;
    font-family: 'Courier New', Courier, monospace;
     /* Aumentar el padding */
     

  }


    /* ESTO ME DA EL CENTRADO DEL SOBRE MI */
  .about-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
    /* IMAGEN REDONDA DE SOBRE MI */
  .about-image {
    border-radius: 50%;
    overflow: hidden;
    width: 200px;
    height: 200px;
    margin-right: 50px;
  }
  
  .about-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  /* TERMINA IMAGEN REDONDA  */


  .about-text {
    width: 50%;
  }
  
  @media (max-width: 768px) {
    .about-container {
      flex-direction: column;
      margin-top: 20px;
    }
    
 
    


  
/* TESTIMONIOS OPINIONES ------------ */


      /* ME DA TAMAÑO DE COMENTARIO SOBRE MIS CLIENTES */
      h3 {
        font-size: 4vw;
      }
    }
    
  
*{
  margin: 0px;
  padding: 0px;
  font-family: poppins;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
#testimonials{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width:100%;
}
.testimonial-heading{
  letter-spacing: 1px;
  margin: 30px 0px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testimonial-heading span{
  font-size: 1.3rem;
  color: #252525;
  margin-bottom: 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.testimonial-box-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width:100%;
}
.testimonial-box{
  width:500px;
  box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
  background-color: #ffffff;
  padding: 20px;
  margin: 15px;
  cursor: pointer;
}
.profile-img{
  width:50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}
.profile-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.profile{
  display: flex;
  align-items: center;
}
.name-user{
  display: flex;
  flex-direction: column;
}
.name-user strong{
  color: #3d3d3d;
  font-size: 1.1rem;
  letter-spacing: 0.5px;
}
.name-user span{
  color: #979797;
  font-size: 0.8rem;
}
.reviews{
  color: #f9d71c;
}
.box-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.client-comment p{
  font-size: 0.9rem;
  color: #4b4b4b;
}
.testimonial-box:hover{
  transform: translateY(-10px);
  transition: all ease 0.3s;
}

@media(max-width:1060px){
  .testimonial-box{
      width:45%;
      padding: 10px;
  }
}
@media(max-width:790px){
  .testimonial-box{
      width:100%;
  }
  .testimonial-heading h1{
      font-size: 1.4rem;
  }
}
@media(max-width:340px){
  .box-top{
      flex-wrap: wrap;
      margin-bottom: 10px;
  }
  .reviews{
      margin-top: 10px;
  }
}
::selection{
  color: #ffffff;
  background-color: #252525;
}
  
  


/* CITA --------------- */
.quote {
  font-family: "Times New Roman", Times, serif;
  font-size: 24px;
  font-style: italic;
  line-height: 1.5;
  padding: 20px;
  margin: 20px;
  border-left: 5px solid #ccc;
  background-color: #f9f9f9;
}



